/* ESTILO GERAIS */
body,figure,img,div,header,nav,main,ul,li,a,p,section,article,h1,h2,footer{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-family: 'Roboto Serif', serif;
}

figcaption{
  display: none;
}
img {
  max-width: 1200px;
}
/* ESTILO CABECALHO */
.cabecalho {
  background: #141414;
  padding: 16px 0;
}

/* ESTILO LOGO */
.cabecalho .cabecalho__logo {
  text-align: center;
}

.cabecalho .cabecalho__logo img{

}

/* ESTILO MENU */
.cabecalho .cabecalho__menu {

}

.cabecalho .cabecalho__menu, .cabecalho__menu_configuracao {
  display: none;
}

.cabecalho .cabecalho__menu ul{
  
}

.cabecalho .cabecalho__menu li {
  
}

.cabecalho .cabecalho__menu a {
  
}

/* ESTILO AREA DE CONFIGURAÇÃO */
.cabecalho .cabecalho__menu_configuracao {
  
}
.cabecalho .cabecalho__menu_configuracao ul {
  
}
.cabecalho .cabecalho__menu_configuracao li {
  
}
.cabecalho .cabecalho__menu_configuracao a {
  
}

/* ESTILO CONTEÚDO PRINCIPAL */
main{
  background-color: #141414;
}

/* ESTILO SEÇÃO DESTAQUE */
.secao_destaque{
  background-image: url(../img/destaque.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 20px 22px
}

/* ESTILO SEÇÃO IMAGEM DESTAQUE */
.secao_destaque .secao_destaque_imagem_destaque{
  display: none;
}
.secao_destaque .secao_destaque_imagem_destaque img{
  width: 100%;
}

/* ESTILO CONTEÚDO DESTAQUE */
.secao_destaque .secao_destaque__descricao_destaque{
  color: white;
}
.secao_destaque .secao_destaque__descricao_destaque h1{

}
.secao_destaque .secao_destaque__descricao_destaque h1 img{
  width: 100%;
  max-width: 180px; 
}
.secao_destaque .secao_destaque__descricao_destaque p{
  margin: 10px 0;
  font-size: 0.8rem;
}

/* ESTILO NAVEGAÇÃO DESTAQUE */
.secao_destaque .secao_destaque__navegacao_destaque{

}
.secao_destaque .secao_destaque__navegacao_destaque a{
  font-size: 0.8rem;
  background-color: white;
  color: black;
  padding: 7px 15px;
  border-radius: 3px;
  display: inline-block;
}

/* ESTILO SECAO FILMES */
.secao_filmes {
  background-color: #141414;
  color: #e5e5e5e5;
  padding: 0 20px;
  overflow-x: hidden;
  margin-top: 20px;
}
.secao_filmes h2{
  font-size: 1.1rem;
}

.secao_filmes .secao_filmes__lista_filmes{
  display: flex;
  flex-wrap: nowrap;  
  overflow-x: scroll;
}
.secao_filmes .secao_filmes__lista_filmes ul{
}
.secao_filmes .secao_filmes__lista_filmes li{
  margin-right: 10px;  
}
.secao_filmes .secao_filmes__lista_filmes ul figure{
  
}
.secao_filmes .secao_filmes__lista_filmes ul img{
}

/* ESTILO RODAPE */
.rodape{
  padding: 0 20px;
  margin-top: 30px;
  color: #808080;
  background-color: #141414;
}
/* ESTILO RODAPE MIDIAS SOCIAIS */
.rodape .rodape__midias_sociais{
}
.rodape .rodape__midias_sociais ul{
  display: flex;  
}
.rodape .rodape__midias_sociais ul li{
  margin-right: 8px;  
}
.rodape .rodape__midias_sociais ul a{
  
}
.rodape .rodape__midias_sociais ul img{
  
}

/* ESTILO RODAPE MENU NAVEGAÇÃO */
.rodape .rodape__menu_navegacao{
  margin: 16px 0;
}
.rodape .rodape__menu_navegacao ul{
  
}
.rodape .rodape__menu_navegacao ul li{
}
.rodape .rodape__menu_navegacao ul li a{
  color: #808080;
}

.rodape .rodape__link_codigo{
  color: #808080;
  border: 1px solid;
  padding: 9px 15px;
  display: inline-block;
}

.rodape p{
  
}
